name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: 3.9
    - name: "Install CI/CD dependencies then run unit tests"
      shell: bash -l {0}
      run: |
        pip3 install -r requirements-cicd.txt
        python3 setup.py install
        python setup.py test
